{% extends 'base.html.twig' %}

{% block title %}Nowe zadanie{% endblock %}

{% block body %}

    <a class="float-right rounded bg-[#115e59] text-white px-3 py-2.5" href="{{ path('app_task_index') }}">Powrót</a>
    <h1 class="text-2xl my-4">Nowe zadanie</h1>

    <hr />

    {{ include('task/_form.html.twig') }}

{% endblock %}
